<% layout("./_layout.html",{nav:'index'}){ %>

<div class="site-banner">
    <div class="site-banner-bg" style="background-image: url(''); background-size: cover;">
    </div>
    <div class="site-banner-main">
        <div class="site-zfj">
            <i class="layui-icon" style="color: #fff; color: rgba(255,255,255,.7);">&#xe609;</i>
        </div>
        <div class="layui-anim site-desc layui-hide-xs">
            <h1 style="color: white;font-size: 48px;">企业信息化快速开发平台</h1>
            <cite>企业信息系统开发基础平台，网站开发利器~</cite>
        </div>
        <div class="layui-anim site-desc layui-hide-lg layui-hide-md layui-hide-sm">
            <h1 style="color: white;font-size: 28px;">企业信息化快速开发平台</h1>
            <cite>企业信息系统开发基础平台，网站开发利器~</cite>
        </div>
        <div class="site-download">
            <a cdn-href="https://gitee.com/thinkis/thinkis/" href="https://gitee.com/thinkis/thinkis/" class="layui-inline site-down" target="_blank">
                <cite class="layui-icon">&#xe601;</cite>
                立即下载
            </a>
        </div>
        <!--<div class="site-version">
            <span>当前版本：<cite class="site-showv">…</cite></span>
            <span><a href="/doc/base/changelog.html" rel="nofollow" target="_blank">更新日志</a></span>
            <span>下载量：<em class="site-showdowns">…</em></span>
        </div>-->
        <!--<div class="site-banner-other">
            <a href="https://gitee.com/thinkis/thinkis/" target="_blank" class="site-star">
                <i class="layui-icon">&#xe658;</i>
                Star
            </a>
            <a href="https://gitee.com/thinkis/thinkis/" target="_blank" rel="nofollow" class="site-fork">
                <i class="layui-icon">&#xe62e;</i>
                Fork
            </a>
            <a href="https://gitee.com/thinkis/thinkis/" target="_blank" rel="nofollow" class="site-fork">
                码云
            </a>
        </div>-->
    </div>
</div>

<div class="layui-main">

    <ul class="site-idea">
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend><i class="layui-icon">&#xe658;</i>系统管理</legend>
                <p>包括企业组织架构（用户管理、机构管理、区域管理）、 菜单管理、角色权限管理、字典管理等功能。</p>
            </fieldset>
        </li>
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend><i class="layui-icon">&#xe658;</i>内容管理</legend>
                <p>包括内容管理（文章、链接），栏目管理、站点管理、 公共留言、文件管理、前端网站展示等功能。</p>
            </fieldset>
        </li>
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend><i class="layui-icon">&#xe658;</i>代码生成</legend>
                <p>此工具提供简单的单表、一对多、树结构功能的生成，如果对外观要求不是很高，生成的功能就可以用了。</p>
            </fieldset>
        </li>
    </ul>

</div>

<% } %>