<% layout("/layouts/micro.html",{background:"true"}){ %>
<div class="childrenBody">
	<div class="layui-tab-content">
		<form id="inputForm"  action="${ctx}/sys/dict/save" method="post" class="layui-form">
			<input type="hidden" name="id" value="${dict.id}"/>
			<div class="layui-row layui-col-space10">
				<div class="layui-col-md12">
					<div class="layui-card">
						<div class="layui-card-body">
							<div class="layui-form-item">
								<label class="layui-form-label"><font color="red">*</font>键值</label>
								<div class="layui-input-block">
									<input type="text" name="value" value="${dict.value}" htmlEscape="false" maxlength="200" class="layui-input" lay-verify="required"/>
								</div>
							</div>

							<div class="layui-form-item">
								<label class="layui-form-label"><font color="red">*</font>标签</label>
								<div class="layui-input-block">
									<input type="text" name="label" value="${dict.label}" htmlEscape="false" maxlength="200" class="layui-input" lay-verify="required"/>
								</div>
							</div>

							<div class="layui-form-item">
								<label class="layui-form-label"><font color="red">*</font>类型</label>
								<div class="layui-input-block">
									<input type="text" name="type" value="${dict.type}" htmlEscape="false" maxlength="200" class="layui-input" lay-verify="required"/>
								</div>
							</div>

							<div class="layui-form-item">
								<label class="layui-form-label"><font color="red">*</font>描述</label>
								<div class="layui-input-block">
									<input type="text" name="description" value="${dict.description}" htmlEscape="false" maxlength="200" class="layui-input" lay-verify="required"/>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">排序</label>
								<div class="layui-input-block">
									<input type="text" name="sort" value="${dict.sort}" htmlEscape="false" maxlength="200" class="layui-input" lay-verify="required"/>
								</div>
							</div>
							<div class="layui-form-item layui-form-text">
								<label class="layui-form-label">备注</label>
								<div class="layui-input-block">
									<textarea name="remarks" htmlEscape="false" rows="3" maxlength="200" class="layui-textarea">${dict.remarks}</textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block" style="display: none;">
					<%if(shiro.hasPermission("sys:dict:edit")){%>
					<button class="layui-btn" type="submit" lay-filter="addData" lay-submit>保 存</button>
					<%}%>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
    layui.use(['form', 'laydate'], function() {
        var form = layui.form, laydate = layui.laydate;
        form.render();
        form.on("submit(addData)",function(data){
            var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
            var actionUrl = $("#inputForm").attr("action");
            var formData = $("#inputForm").serialize();//序列化表格内容为字符串
            $.ajax({
                type:'post',
                url:actionUrl,
                data:formData,
                cache:false,
                dataType:'json',
                success:function(result){
                    setTimeout(function () {
                        top.layer.msg(result.msg);
                        parent.layer.closeAll();
                    }, 300);
                }
            });
            return false;
        })
    });
    //父窗口调用表单提交方法
    function saveForm(){
        $("button[type='submit']").click();
    }
</script>
<%}%>