<%
var headerPart = {
%>
<style type="text/css">
</style>
<% }; %>
<% layout("/modules/cms/front/themes/edu/common/layout.html",{headerSection:headerPart,nav:category.id}){ %>

<div class="site-banner">
  <div class="site-banner-bg layui-hide-xs" style="background-image: url('${ctxPath}/static/modules/cms/front/themes/${site.theme}/images/photo_banner.jpg'); background-size: cover;">
  </div>
  <div class="site-banner-main layui-hide-md layui-hide-lg ">
    <div class="site-zfj">
      <i class="layui-icon" style="color: #fff; color: rgba(255,255,255,.7);">&#xe7ae;</i>
    </div>
    <%
    var topNews = @CmsUtils.getArticleList(site.id, "1003", 1, '');
    for(article in topNews){
    %>
    <div class="layui-anim site-desc layui-hide-lg layui-hide-md ">
      <h1 style="color: white;font-size: 20px;">${article.title!}</h1>
      <p style="color: white;font-size: 14px;margin-top: 5px;" class="layui-hide-xs">度身定制课程，限量报名</p>
    </div>
    <div class="site-download">
      <a  href="${article.url}"
          class="layui-inline site-down" style="color: #fff;">
        <cite class="layui-icon">&#xe609;</cite>
        我要报名
      </a>
    </div>
    <%}%>
  </div>
</div>

<div class="ny-title">
  <h5><i>学员风采</i></h5>
  <span>Cadet's demeanor</span>
  <p>
    快快乐乐上课，开开心心学习
  </p>
</div>
<div class="fly-main" style="overflow: hidden;min-height: auto;">
  <%if(category.module == 'article'){%>
  <ul class="fly-case-list">
    <%for(article in page.list){%>
    <li style="border: 0.1px solid #eee;padding: 9px;">
      <a class="fly-case-img" href="${article.url}">
        <img src="${article.image}" alt="${@StringUtils.abbr(article.title,40)}">
        <cite class="layui-btn layui-btn-primary layui-btn-small">去围观</cite>
      </a>
      <h2><a href="${article.url}">${@StringUtils.abbr(article.title,40)}</a></h2>
      <p class="fly-case-desc" style="text-align: center;">${article.description}</p>
    </li>
    <%}%>
  </ul>
  <div class="pagination" style="background-color:white;text-align: center;">${page}</div>
  <script type="text/javascript">
      function page(n,s){
          location="${ctxFront}/list-${category.id}${@Global.getUrlSuffix()}?pageNo="+n+"&pageSize="+s;
      }
  </script>
  <%}%>
</div>
<% } %>